*{
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: white;
}
#square{
    width: 900px;
    height: 700px;
    background-color: rgb(56, 54, 54);
    border: solid 2px gray;
}
.content{
    border: solid 2px white;
    width: 670px;
    height: 600px;
    margin: auto;
    margin-top: 45px;
    position: relative;
}
.info{
    width: 435px;
    margin: auto;
    border: rgb(41, 40, 40) 1px solid;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 40px;
    background-color: rgb(49, 48, 48);
}
input{
    display: block;
    margin: auto;
    width: 500px;
    height: 100px;
    margin-bottom: 25px;
    border-radius: 50px;
    background-color: rgb(49, 48, 48);
    outline: none;
    text-align:center;}
p{
    text-align: center;
}
input[type="submit"]{
    background-color: #52af88;
}
.sms{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 85px;
    top: 189px;
}
.phone{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 85px;
    top: 318px;
}