*{
    margin: 0;
    padding: 0;
}
.one{
    background-color: aqua;
    padding-top: 45px;
    padding-bottom: 35px;
    overflow: hidden;
    width: 660px;
}
.left{
    float: left;
    padding: 0 50px 0 60px;
}
.right{
    float: left;
    padding: 5px 20px 20px;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    position: relative;
}
img{
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
}
input{
    display: block;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 7px;
    font-size: 17px;
    outline: none;
    border: white solid 2px;
}
input:hover{
    border-color: aqua;
}
input[type="submit"]{
    height: 50px;
    width: 316px;
    margin-bottom: 15px;
    background-color: aqua;
    border:none;
    color: white;
}
input[type="submit"]:hover{
    background-color: aquamarine;
}
.right p{
    text-align: center;
    color: gray;
    opacity: 0.7;

}
.left p{
    color: white;
    font-size: 17px;
    line-height: 25px;
}
.triangle{
    position: absolute;
    border: 12px solid transparent; border-right: 15px solid rgb(223, 223, 223);
    left: -27px;
    top: 30px
}
.man, .lock{
    position: absolute;
    left: 300px;
    width: 30px;
    height: 30px;
    opacity: 0.3;
}
.man{
    top: 30px;
}
.lock{
    top: 92px;
}