*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#square{
    width: 700px;
    height: 650px;
    background-color: rgb(58, 61, 65);
    text-align: center;
    padding-top: 50px;
}
input{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 20px;
    border: 2px white solid;
    background-color: rgb(58, 61, 65);
    width: 550px;
    height: 80px;
    border-radius: 40px;
    margin-top: 25px;
    outline: none;
}
h1{
    font-size: 80px;
    font-weight: 400;
}
p{
    font-size: 20px;
}
input:hover{
    border-color: green;
}
#click:hover{
    background-color: green;
}
